<div class='container-fluid sidebar-layout'>

    <div class='row'>
        <div class='col-md-12'>
            <div class='row'>
            
                <div class='col-md-2 sidebar-container col-md-height'>
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand"><a href="#">Home</a></li>
                        <li><a href="#">Another link Testing Something</a></li>
                        <li><a href="#">Next link</a></li>
                        <li><a href="#">Last link</a></li>
                    </ul>
                </div>
                <div class='col-md-10 col-md-height' ng-transclude>
                    
                </div>
            </div>
        </div>
    </div>
</div>