<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
		    <li>
		      <a href="#">Starter Kit</a>
		    </li>
		    <li>
		      <a href="#/dashboard">Dashboard</a>
		    </li>
		    <li>
		      <a href="#">Layouts</a>
		    </li>
		    <li>
		      <a href="#">Documentation</a>
		    </li>
		  </ul>
	</div>
</nav>

<div class='container'>
	<div class='row'>
		<div class="jumbotron text-center">
			<div class='container'>
			  <h1>Angularjs Starter Kit!</h1>
			  <p>Get started your new Angularjs project with latest build toolset designed to help you deliver quick without draining much of your energy...</p>
			  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
			</div>
		</div>
		<div class="page-header">
		  <h1 class='text-center'>Under Development</h1>
		</div>
	</div>

	<div class='row'>
		
		<div class='col-md-4'>
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>

		<div class='col-md-4'>
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>

		<div class='col-md-4'>
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>

	</div>
</div>



